@import url("./colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    opacity: 0.9;
    background: @background-darker;
    color: @foreground;
    border-bottom: 2px solid @background;
}

#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    /* background-image: linear-gradient(0deg, @selection, @background-darker); */
    background: @selection
}

#workspaces button.active {
    /* background-image: linear-gradient(0deg, @purple, @selection); */
    background: @purple;
}

#workspaces button.urgent {
    /* background-image: linear-gradient(0deg, @red, @background-darker); */
    background: @red;
}

#clock {
    padding: 0 8px;
    background: @background;
}

#pulseaudio {
    padding: 0 8px;
    background: @background;
}

#battery {
    padding: 0 8px;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #50FA7B;
}

#tray {
    padding: 0 8px;
}
